
<body>

    <section class="home" id="home">

        <div class="row">

            <div class="content">
                <h3>Let's recycle the fun of reading.</h3>
                <p>If you're a book enthusiast and need books, Read Cycle has great deals on a wide range of books. Shop for these books from top sellers and avail hugely discounted prices to spread the love of reading.</p>
                <a href="/books" class="btn">Shop now</a>
            </div>

            <div class="swiper books-slider">
                <div class="swiper-wrapper">
                <img src="/statics/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsb2ZmaWNlNV8zZF9yZW5kZXJfY2hhcmFjdGVyX29mX2JveV9hbmRfZnJpZW5kc19zdHVkZW50X19hOGJmMWZhNy05ZTZkLTQyNzItOWEzNi02ZjA0MjJlOGMyNzFfMS5wbmc-removebg-pre.png" alt="Students" height="380px">
                </div>
            </div>

        </div>
    </section>

{{!-- <section class="reviews" id="reviews">

    <h1 class="heading"> <span>client's reviews</span> </h1>

    <div class="swiper reviews-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIKcTkARlljahDz7xR5gq-lwY3NSwsYMQdl_AlXfua4Yc2QcQ9QIG38gxtEiMGNAdoEck&usqp=CAU" alt="">
                <h3>Rohan </h3>
                <p>First of all it customer service is excellent. We get all author book for Tribhuwan University. People should try here affordable and best price.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="" alt="">
                <h3>Bhuwan </h3>
                <p>Best book store almost all books are available for prepartion of exam related or other books are available on reaonable price also.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="" alt="">
                <h3>Vivek </h3>
                <p>Customer Service is good. Greetings to customer and making the required Books available to Customers is very good.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
            <div class="swiper-slide box">
                <img src="" alt="">
                <h3>Priti </h3>
                <p>This book centre have large amount of a books. The engineering study material all semester books are available.then the peacefull and nice book centre.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="" alt="">
                <h3>Asim </h3>
                <p>I migrated to the online platform on Just books because I was finding it difficult to go to their libraries before closing time.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="" alt="">
                <h3>Alisha </h3>
                <p>I love the product because it is very easy to find. The book are in really organized manner you can easily find the book you want.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

        </div>

    </div>

</section> --}}

    <section class="footer">

        <div class="box-container">

         <div class="box">
            <h3>our locations</h3>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Nepal </a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="./index.html"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> featured </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Category </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> reviews </a>
            <a href="./feedback.html"> <i class="fas fa-arrow-right"></i> feedback </a>
        </div>

        <div class="box">
            <h3>extra links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> account info </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> ordered items </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> privacy policy </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> payment method </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> our serivces </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> 9848166589 </a>
            <a href="#"> <i class="fas fa-envelope"></i> dineshnyaupane333@gmail.com </a>
            <a href="#"> <i class="fas fa-envelope"></i> dineshnyaupane451@gmail.com </a>
        </div>

    </div>

    <div class="share">
        <a href="https://www.facebook.com/dineshnyaupane333" class="fab fa-facebook-f"></a>
        <a href="https://www.instagram.com/_dineshnyaupane/" class="fab fa-instagram"></a>
        <a href="https://np.linkedin.com/in/dinesh-nyaupane-7bbb86242" class="fab fa-linkedin"></a>
    </div>

    <div class="credit"> created by <span>Dinesh Nyaupane </span>copyright ©2024 all rights reserved! </div>

</section>

</div>

</section>
{{!-- <script>
        // Function to display SweetAlert for message if it exists
        window.onload = function () {
    const message = "{{message}}";
    const alertDisplayed = "{{alertDisplayed}}";

    if (message && !alertDisplayed) {
        Swal.fire({
            icon: '{{icon}}',
            title: message,
            showConfirmButton: false,
            timer: 2000 // 3 seconds
        });
    }
};

    </script> --}}

    
</body>
