    <style>
        .arrivals-slider{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
        }
        .content{
            font-size: 17px;
        }
        .image{
            object-fit: cover;
        }
        img{
            height: 80px;
            width: 80px;
            margin: 0;
        }
        .swiper-slide{
            display: grid;
            width: 320px;
            height: 200px;
            padding: 20px;
            margin: 0;
        }
    </style>
</head>

<body>
    <section class="arrivals" id="arrivals">
        <div class="arrivals-slider">

            <a href="/comics" class="swiper-slide">
                <div class="image">
                    <img src="https://www.freecomicbookday.com/news_images/116248_1038634_1.jpg" alt="Comics Image">
                </div>
                <div class="content">
                    <h3>Comics</h3>
                </div>
            </a>

            <a href="/sci-fi" class="swiper-slide">
                <div class="image">
                    <img src="https://miblart.com/wp-content/uploads/2021/03/img_6054aa9f5d3d0.png" alt="Sci-Fi Image">
                </div>
                <div class="content">
                    <h3>Sci-Fi</h3>
                </div>
            </a>
            

            <a href="/poetry" class="swiper-slide">
                <div class="image">
                    <img src="https://images.penguinrandomhouse.com/cover/9780593190685" alt="Poetry Image">
                </div>
                <div class="content">
                    <h3>Poetry</h3>
                </div>
            </a>
            <a href="/academic" class="swiper-slide">
                <div class="image">
                    <img src="https://static-01.daraz.com.np/p/e5bd5d03838a18b3820f514b4aacd489.jpg"alt="Academic Image">
                </div>
                <div class="content">
                    <h3>Academic</h3>
                </div>
            </a>

            <a href="/motivational" class="swiper-slide">
                <div class="image">
                    <img src="https://fourminutebooks.com/wp-content/uploads/2016/06/best-motivational-books-22.jpg" alt="Motivational Image">
                </div>
                <div class="content">
                    <h3>Motivational</h3>
                </div>
            </a>

            <a href="/mythological" class="swiper-slide">
                <div class="image">
                    <img src="https://img.etimg.com/photo/msid-101010593,imgsize-171112/Asura-TaleoftheVanquishedbyAnandNeelakantan.jpg" alt="Mythological Image">
                </div>
                <div class="content">
                    <h3>Mythological</h3>
                </div>
            </a>

            <a href="/mystery" class="swiper-slide">
                <div class="image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNjQcd27vqBs7rTdlL3kXWQaa_6N6NrchnrXB55aFu1Q&s" alt="Mystery Image">
                </div>
                <div class="content">
                    <h3>Mystery</h3>
                </div>
            </a>

            <a href="/non-fiction" class="swiper-slide">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/716PzvuhwCL._AC_UF1000,1000_QL80_.jpg" alt="Non-Fiction Image">
                </div>
                <div class="content">
                    <h3>Non-Fiction</h3>
                </div>
            </a>

            <a href="/classic" class="swiper-slide">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/91D-aDTCKqL._AC_UF1000,1000_QL80_.jpg" alt="Classic Image">
                </div>
                <div class="content">
                    <h3>Classic</h3>
                </div>
            </a>
            <a href="/fantasy" class="swiper-slide">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/41kY9ohjWWS.jpg" alt="Fantasy Image">
                </div>
                <div class="content">
                    <h3>Fantasy</h3>
                </div>
            </a>
            <a href="/romance" class="swiper-slide">
                <div class="image">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1611937942l/56732449.jpg" alt="Romance Image">
                </div>
                <div class="content">
                    <h3>Romance</h3>
                </div>
            </a>
            <a href="/literature" class="swiper-slide">
                <div class="image">
                    <img src="https://rukminim2.flixcart.com/image/850/1000/xif0q/book/i/n/a/english-literature-original-imaggf4habx9pnwa.jpeg?q=20&crop=false" alt="Literature Image">
                </div>
                <div class="content">
                    <h3>Literature</h3>
                </div>
            </a>
        </div>
    </section>
</body>
